 
    .view{
        color: black!important;
        mat-icon{
            color: gray;
        }
    }
    .accept{
        color: green!important;
        mat-icon{
            color: green;
        }
    }
    .reject{
        color: red !important;
        mat-icon{
            color: red;
        }
    }
 