<mat-horizontal-stepper
  [linear]="true"
  [(selectedIndex)]="currentStepIndex"
  class="custom-stepper"
>
  <mat-step label="Introduction">
    <app-market-intro
      [mode]="mode"
      (formSubmit)="updateFormData('marketIntro', $event)">
    </app-market-intro>
    <div class="actions">
      <button
        mat-button
        class="step-button back"
        matStepperPrevious
        [disabled]="currentStepIndex === 0">
        &#x3C; Back
      </button>
      <button mat-button class="step-button next" matStepperNext>
        Next &#x3E;
      </button>
    </div>
  </mat-step>

  <mat-step label="Details">
    <app-market-details
      [mode]="mode"
      (formSubmit)="updateFormData('marketDetails', $event)">
    </app-market-details>
    <div class="actions">
      <button
        mat-button
        class="step-button back"
        matStepperPrevious
        [disabled]="currentStepIndex === 0">
        &#x3C; Back
      </button>
      <button mat-button class="step-button next" matStepperNext>
        Next &#x3E;
      </button>
    </div>
  </mat-step>

  <mat-step label="Challenges">
    <app-market-challenges
      [mode]="mode"
      (formSubmit)="updateFormData('marketChallenges', $event)">
    </app-market-challenges>
    <div class="actions">
      <button
        mat-button
        class="step-button back"
        matStepperPrevious
        [disabled]="currentStepIndex === 0">
        &#x3C; Back
      </button>
      <button mat-button class="step-button next" matStepperNext>
        Next &#x3E;
      </button>
    </div>
  </mat-step>

  <mat-step label="Zones">
    <app-market-zones
      [mode]="mode"
      (formSubmit)="updateFormData('zones', $event)">
    </app-market-zones>
    <div class="actions">
      <button
        mat-button
        class="step-button back"
        matStepperPrevious
        [disabled]="currentStepIndex === 0">
        &#x3C; Back
      </button>
      <button mat-button class="step-button next" matStepperNext>
        Next &#x3E;
      </button>
    </div>
  </mat-step>

  <mat-step label="Time Slots">
    <app-market-time-slots
      [mode]="mode"
      (formSubmit)="updateFormData('timeSlots', $event)">
    </app-market-time-slots>
    <div class="actions">
      <button
        mat-button
        class="step-button back"
        matStepperPrevious
        [disabled]="currentStepIndex === 0">
        &#x3C; Back
      </button>
      <button mat-button class="step-button next" matStepperNext>
        Next &#x3E;
      </button>
    </div>
  </mat-step>

  <mat-step label="Leaders">
    <app-market-leaders
      [mode]="mode"
      (formSubmit)="updateFormData('leaders', $event)">
    </app-market-leaders>
    <div class="actions">
      <button
        mat-button
        class="step-button back"
        matStepperPrevious
        [disabled]="currentStepIndex === 0">
        &#x3C; Back
      </button>
      <button
        mat-button
        class="step-button submit"
        (click)="submitData()">
        <mat-icon>send</mat-icon> Submit
      </button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
