<form *ngIf="zoneForm" [formGroup]="zoneForm" (ngSubmit)="submitForm()">
  <div formArrayName="zones">
    <div *ngFor="let zone of zones.controls; let i = index" [formGroupName]="i" class="zone-section">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-10">
            <div class="form-group">
              <mat-form-field appearance="outline" >
                <mat-label>Jina Ya Zoni</mat-label>
                <input matInput formControlName="zoneName" placeholder="Jina Ya Zoni......">
              </mat-form-field>
          </div>
          
          <div class="col-2 d-flex justify-content-end  ">
            <button 
              class="btn btn-dark btn-block text-white fw-bold" 
              type="button" 
              (click)="addZone()">
              Add Zone
            </button>
          </div>
        </div>
      </div>
      
      

      <p class="mt-3"><strong>Bidhaa zinazouzwa:</strong></p>
      <div class="row" formGroupName="productList">
        <div class="col-md-3" *ngFor="let product of productKeys">
          <mat-checkbox [formControlName]="product">{{ productLabels[product] }}</mat-checkbox>
        </div>
      </div>

      <div class="row details">
        <mat-form-field appearance="outline" class="col-md-3">
          <mat-label>Leader Name</mat-label>
          <input matInput formControlName="leaderName" placeholder=" ">
        </mat-form-field>
        <mat-form-field appearance="outline" class="col-md-3">
          <mat-label>Leader Phone</mat-label>
          <input matInput formControlName="leaderPhone" placeholder=" ">
        </mat-form-field>
        <mat-form-field appearance="outline" class="col-md-3">
          <mat-label>Leader Phone Alt</mat-label>
          <input matInput formControlName="leaderPhoneAlt" placeholder=" ">
        </mat-form-field>
      </div>

      <button mat-button color="warn" (click)="removeZone(i)" *ngIf="zones.length > 1">Remove Zone</button>
    </div>
  </div>


  <button mat-raised-button color="accent" type="submit">Submit</button>
</form>
