<div class="base-container">
  <form [formGroup]="zoneForm" >
    <div formArrayName="zones">
      <div class="d-flex justify-content-between align-items-center mb-2">
        <h3>Market Zones</h3>
        <button
          type="button"
          class="btn btn-dark text-white fw-bold"
          style="background-color: #212631;"
          (click)="addZone()"
          [disabled]="!isCurrentZoneValid"
        >
          Add Zone
        </button>
      </div>
      <mat-tab-group [(selectedIndex)]="selectedTabIndex" >
        <mat-tab *ngFor="let zone of zones.controls; let i = index" >
   
          <ng-template mat-tab-label style="background-color: gray;" >
            Zone {{ i + 1 }}
            <button 
              mat-icon-button
              color="warn"
              *ngIf="zones.length > 1"
              (click)="removeZone(i)"
              style="margin-left: 8px;"
              aria-label="Remove zone"
            >
              <mat-icon>close</mat-icon>
            </button>
          </ng-template>
          <div class="p-2" [formGroupName]="i">
            <mat-form-field appearance="outline" style="width: 100%;">
              <mat-label>Jina Ya Zoni</mat-label>
              <input matInput formControlName="zoneName" placeholder="Jina Ya Zoni..." />
            </mat-form-field>
  
            <p><strong>Bidhaa zinazouzwa:</strong></p>
            <div formGroupName="products">
              <table class="table table-striped challenge-table">
                <tbody>
                  <tr *ngFor="let row of splitArray(productKeys, 3); let rowIndex = index">
                    <td *ngFor="let product of row">
                      <mat-checkbox [formControlName]="product">
                        {{ productLabels[product] }}
                      </mat-checkbox>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            
  
            <div class="row mt-3 " >
              <mat-form-field appearance="outline" class="col-md-3">
                <mat-label></mat-label>
                <input matInput formControlName="leaderName" placeholder=" " />
              </mat-form-field>
              <mat-form-field appearance="outline" class="col-md-3">
                <mat-label>Leader Phone</mat-label>
                <input matInput formControlName="leaderPhone" placeholder=" " />
              </mat-form-field>
              <mat-form-field appearance="outline" class="col-md-3">
                <mat-label>Leader Phone Alt</mat-label>
                <input matInput formControlName="leaderPhoneAlt" placeholder=" " />
              </mat-form-field>
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>
  
    </div>
  
   
  </form>
  
</div>